body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: hsl(0, 0%, 0%);
    background-image: linear-gradient(-160deg, hsl(0, 0%, 92%) 1%, hsl(0, 0%, 74%) 170%);
}
.container {
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr, 12;
    grid-template-rows: auto;
    grid-template-areas:
        "as cl cl cl cl cl cl ch ch ch ch ch"
}
/*-------------------------------navigation--------------------------*/
.nav__li--size {
    display: inline-block;
    margin-left: 1vh;
}
.nav--sidenav {
    overflow-x: hidden;
    width: 0;
}
.nav__button--open {
    position: absolute;
    top: 1vh;
    left: 1vw;
    font-size: 3em;
    color: hsl(0, 0%, 4%);
    cursor: pointer;
    transition: 3.5s;
}
.nav__button--close {
    position: absolute;
    top: 1vh;
    width: 2vw;
    margin-bottom: 1vh;
    margin-left: 12.4vw;
    font-size: 3.2em;
    text-align: center;
    color: hsl(0, 0%, 4%);
}
/*----------------------------calculator-----------------------------*/
.calculator {
    grid-area: cl;
}
.calculator__mathCache {
    grid-area: ch;
    margin-left: 1vw;
}
.calculator__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vh;
}
.show__input--result {
    width: 100%;
    height: 20vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: right;
    font-size: 5em;
    background-color: hsla(0, 0%, 100%, 0.04);
    border: none;
}
.calculator__button--mathItem {
    height: 10vh;
    font-size: 3em;
    line-height: 10vh;
    text-align: center;
    background-color: hsla(0, 0%, 97%, 0.47);
}
.calculator__button--mathItem--number {
    background-color: hsl(0, 0%, 100%);
}
.calculator__button--mathItem--hover:hover {
    cursor: pointer;
    background-color: hsla(0, 1%, 46%, 0.28);
    -webkit-box-shadow: 2px -1px 12px -3px hsla(0, 0%, 0%, 0.75);
    -moz-box-shadow: 2px -1px 12px -3px hsla(0, 0%, 0%, 0.75);
    box-shadow: 2px -1px 12px -3px hsla(0, 0%, 0%, 0.75);
}
.calculator__button--mathItem--basicMathAction:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(207, 100%, 42%);
}
/*-----------------------------html items----------------------------*/
#cls {
    display: none;
}
nav {
    margin: 0;
    padding: 0;
    grid-area: as;
}
aside {
    margin-right: 2vh;
    opacity: 0.8;
}
h2 {
    margin-left: 0.4vw;
    font-size: 2em;
}
i {
    width: 3vh;
    text-align: center;
}
ul {
    padding: 0.6vw;
}
ul li {
    margin-top: 1vh;
    padding: .1vw;
    font-size: 1.5em;
    list-style: none;
    color: hsl(0, 0%, 19%);
}
ul li:hover {
    cursor: pointer;
    color: hsl(0, 0%, 0%);
}

/*tabs*/
.calculator__mathCache__button--tablink {
  color: hsl(0, 0%, 100%);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  width: 50%;
}
.calculator__mathCache__button--tablink:active {
 border-bottom: .6vh solid hsl(207, 100%, 42%);
}

.calculator__mathCache--tab{
    margin-top: 4vh;
    width: 30vh;
}
calculator__mathCache__tab--content{
  width: 30vw;
  display: none;
  height: 30vh;
  margin-top: 1vh;
}
.calculator__mathCache__cache__h,
.calculator__mathCache__cache__p{
   margin-top: 1vh;
    margin-left: 1vh;
}

